p {
	text-align: center;
}

a {
 	font-size: 18px;
 	color:#252b5b;

}

.essai {
	font-size: 40px;
}

.àpropos{
	font-size: 15px;
}

.icon{
	font-size: 50px;
}

#wrapper {
	background-color: #252b5b;
	height: 600px;
	background-size: cover;
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
}

#logo{
	margin-bottom: 100px;
	font-size: 10px
}

#slogan{
	color : white;
	font-size: 30px
}

.margin{
	margin:6em;
}

.smallmargin{
	margin:2em;
}

#ourteamtitre{
	font-size: 30px;
	text-align: center;
	color: #252b5b;
}

#ourteam{
	margin-bottom: 100px;
	text-align: center;
}

.nom{
	font-size: 20px;
	text-decoration: none;
}

#formatlinkedin {
	font-size: 40px;
}

.fa {
	font-size: 20px;
}

.staff{
	border-radius: 90%;
	width: 200px;
	padding: 10px;
	text-align: center;
}


#footer{
	font-size: 40px;
	background-color: #252b5b;
	color: white;
	padding: 50px
}

#footer a{
	color: #2a6496;

}

#footer a:hover{
	color: white;
}

.navbar-transparent {
  background-color: #252b5b;
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #eeeeee;
  line-height: 30px;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: #2a6496;
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: white;
}

.btn {
	color: white;
	background-color: #2a6496;
	border-color: #2a6496;
}

.btn:hover{
	background-color: white;
	border-color: rgb(0,0,0;0);
	color: #2a6496;;
}

#lignedeséparation{
	background-color: white;
	width: 50px;
	height: 0.5px;
	position: center;
	opacity: 0.2px;
}


#signupform{
	float: left;
	font-size: 10px;

}

a.top {
   position:fixed;
}

.scrollup {
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 50px;
	right: 50px;
	display: none;
	color: white;
	background-color: #3a3f51;
	border: 1px solid #3a3f51;
	font-size: 20px;
	text-align: center;
	line-height: 37px;
}
 
.scrollup:hover {
	color: white;
}