p {
	text-align: center;
}

a {
 	text-decoration: none;
 	font-size: 18px;
 	color:#252b5b;

}

.essai {
	font-size: 40px;
}

.àpropos{
	font-size: 15px;
}

.icon{
	font-size: 50px;
}

#wrapper {
	background-color: #252b5b;
	height: 600px;
	background-size: cover;
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
}

#logo{
	margin-bottom: 100px;
	font-size: 10px
}

#slogan{
	color : white;
	font-size: 30px
}

.margin{
	margin:6em;
}

.smallmargin{
	margin:2em;
}

#ourteamtitre{
	font-size: 30px;
	text-align: center;
	color: #252b5b;
}

#ourteam{
	margin-bottom: 100px;
	text-align: center;
}

.fa {
	font-size: 20px;
}

.staff{
	border-radius: 90%;
	width: 200px;
	padding: 10px;
	text-align: center;
}


#footer{
	font-size: 40px;
	background-color: #252b5b;
	color: white;
	padding: 50px
}

#footer a{
	color: #2a6496;

}

#footer a:hover{
	color: white;
}

.navbar-transparent {
  background-color: #252b5b;
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #eeeeee;
  line-height: 30px;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: #2a6496;
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: white;
}

.btn {
	color: white;
	background-color: #2a6496;
	border-color: #2a6496;
}


#signupform{
	float: left;
	font-size: 10px;

}

a.top {
   position:fixed;
}

<style>
a#cRetour{
  border-radius:3px;
  padding:10px;
  font-size:15px;
  text-align:center;
  color:#fff;
  background:rgba(0, 0, 0, 0.25);
  position:fixed;
  right:20px;
  opacity:1;
  z-index:99999;
  transition:all ease-in 0.2s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}
a#cRetour:before{ content: "\25b2"; }
a#cRetour:hover{
  background:rgba(0, 0, 0, 1);
  transition:all ease-in 0.2s;
}
a#cRetour.cInvisible{
  bottom:-35px;
  opacity:0;
  transition:all ease-in 0.5s;
}

a#cRetour.cVisible{
  bottom:20px;
  opacity:1;
}
</style>
